
html, body {
  height: 100%;
}

/*
header {
	position: absolute;
	top: 5%;
	margin: 0 auto;
	font-size: 1.5em;

}
*/

body {
  background-color: #000;
  display: flex;
  justify-content: center; /* This centers gameboard horizontally. */
  align-items: center; /* This centers gameboard vertically. */
  

  /* This displays header h1 on top of gameboard 
  flex-direction: column;
	*/
	
}